# About the Dataset
This public dataset of [311 cases](https://data.sfgov.org/City-Infrastructure/Case-Data-from-San-Francisco-311-SF311-/vw6y-z8j6) from San Francisco. Cases range start from

In [6]:
!wget -O sf311.csv https://data.sfgov.org/api/views/vw6y-z8j6/rows.csv?accessType=DOWNLOAD

--2015-11-28 18:32:23--  https://data.sfgov.org/api/views/vw6y-z8j6/rows.csv?accessType=DOWNLOAD
Resolving data.sfgov.org (data.sfgov.org)... 216.227.229.168
Connecting to data.sfgov.org (data.sfgov.org)|216.227.229.168|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘sf311.csv’

sf311.csv               [      <=>             ] 393.97M  1.21MB/s   in 5m 27s

Last-modified header invalid -- time-stamp ignored.
2015-11-28 18:38:11 (1.20 MB/s) - ‘sf311.csv’ saved [413110955]

The dataset is about 400 MB with 1.4 Million Rows

In [ ]:
!wc -l sf311.csv

In [ ]:
!csvcut -n sf311.csv

In [ ]:
!head -n 10 sf311.csv |csvcut -c 1,2,3,4| csvlook

In [ ]:
!head -n 10 sf311.csv |csvcut -c 5,6| csvlook

In [ ]:
!head -n 10 sf311.csv | csvcut -c 7,8| csvlook

In [ ]:
!head -n 10 sf311.csv | csvcut -c 9,10 | csvlook

In [ ]:
!head -n 10 sf311.csv | csvcut -c 11,12| csvlook

In [72]:
!head -n 10 sf311.csv | csvcut -c 13,14,15| csvlook

|----------------+---------------------------------------+--------------------|
|  Neighborhood  | Point                                 | Source             |
|----------------+---------------------------------------+--------------------|
|  Marina        | (37.802998711, -122.4485133)          | Voice In           |
|  Marina        | (37.8023527957574, -122.446723213503) | Voice In           |
|  Stonestown    | (37.723552779953, -122.472380796171)  | Voice In           |
|  Outer Mission | (37.7096735493524, -122.460612896054) | Integrated Agency  |
|  Outer Mission | (37.7096658788531, -122.459125896111) | Integrated Agency  |
|  Chinatown     | (37.79346133077, -122.406540221558)   | Voice In           |
|  Forest Hill   | (37.752548002678, -122.464275868582)  | Voice In           |
|  Portola       | (37.7307175807798, -122.407073047708) | Voice In           |
|  Outer Sunset  | (37.748996446, -122.498009)           | Voice In           |
|----------------+---------------------------------------+--------------------|

In [ ]:
!head -n 10 sf311.csv | csvcut -c 16

## Loading the data into MySQL

In [2]:
%load_ext sql

/Users/NRI/anaconda/lib/python2.7/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/Users/NRI/anaconda/lib/python2.7/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

Log into mysql as the root password; create the shoppers database and grant the privilege to mysqluser. For example,  grant all privileges on bank.* to 'lrngsql'@'localhost' identified by 'password'

In [3]:
!echo "DROP DATABASE IF EXISTS sf311" | mysql --user=mysqluser --password=mysqlpass
!echo "CREATE DATABASE sf311" | mysql --user=mysqluser --password=mysqlpass

Warning: Using a password on the command line interface can be insecure.
Warning: Using a password on the command line interface can be insecure.

In [4]:
%sql mysql://mysqluser:mysqlpass@localhost/sf311

u'Connected: mysqluser@sf311'

In [6]:
%%sql 
CREATE TABLE cases(
    caseid INT,
    opened VARCHAR(30), 
    closed VARCHAR(30),
    updated VARCHAR(30),
    status VARCHAR(7),
    status_notes LONGTEXT,
    responsible_agency VARCHAR(60),
    category VARCHAR(30),
    request_type MEDIUMTEXT,
    request_details VARCHAR(100),
    address VARCHAR(100),
    supervisor_district VARCHAR(20),
    neighborhood VARCHAR(60),
    point VARCHAR(75),
    source VARCHAR(30) ,
    media_url MEDIUMTEXT
);

0 rows affected.

[]

In [7]:
%%sql
LOAD DATA LOCAL INFILE 'sf311.csv'
REPLACE
INTO TABLE cases
FIELDS TERMINATED BY ','
       OPTIONALLY ENCLOSED BY '"'
IGNORE 1 LINES

1409735 rows affected.

[]

Casting opened, closed, and updated as datetime

In [8]:
%%sql UPDATE cases
SET opened = (STR_TO_DATE(opened,'%m/%d/%Y %h:%i:%s %p'))
WHERE opened != ""

1409735 rows affected.

[]

In [9]:
%%sql UPDATE cases
SET closed = (STR_TO_DATE(closed,'%m/%d/%Y %h:%i:%s %p'))
WHERE closed != ""

1288237 rows affected.

[]

In [10]:
%%sql UPDATE cases
SET updated = (STR_TO_DATE(updated,'%m/%d/%Y %h:%i:%s %p'))
WHERE updated != ""

1409735 rows affected.

[]

# Exploring and cleaning the data

Case id field has duplicates

In [11]:
%%sql SELECT COUNT(caseid),caseid
FROM cases
GROUP BY caseid
ORDER BY COUNT(caseid) DESC
LIMIT 10;

10 rows affected.

[(2L, 5296565L),
 (2L, 3814470L),
 (2L, 4903339L),
 (2L, 5057840L),
 (2L, 3647837L),
 (2L, 3858063L),
 (2L, 5191319L),
 (2L, 5297385L),
 (1L, 5324004L),
 (1L, 196699L)]

Determining if the duplicate caseid are different or just true duplicates

In [ ]:
%%sql SELECT caseid,opened,closed,updated,status,status_notes,responsible_agency,category,
    request_type,request_details, address, supervisor_district, neighborhood, point, source, media_url,
    length(media_url)
FROM cases
WHERE caseid = 5312558

Queries below are used to delete the duplicate caseid.

In [12]:
%%sql DELETE 
FROM cases
WHERE caseid in (5296565,3814470,4903339,5057840, 3647837,3858063,5191319,5297385) AND length(media_url) = 87

8 rows affected.

[]

No more duplicate caseid left.

In [13]:
%%sql SELECT COUNT(caseid),caseid
FROM cases
GROUP BY caseid
ORDER BY COUNT(caseid) DESC
LIMIT 10;

10 rows affected.

[(1L, 196699L),
 (1L, 5323997L),
 (1L, 5323999L),
 (1L, 5324000L),
 (1L, 5324004L),
 (1L, 5324010L),
 (1L, 5324012L),
 (1L, 5324013L),
 (1L, 5325131L),
 (1L, 5325133L)]

Not all of the opened time stamps occurred before the closed time stampe. Thus, only rows with opened timestamp predating the closed time stamp will be added to the dimmensions

In [14]:
%%sql
SELECT COUNT(opened)
FROM cases
WHERE opened < closed AND closed !=""
LIMIT 10

1 rows affected.

[(1276861L,)]

In [15]:
%%sql
SELECT COUNT(opened)
FROM cases
WHERE opened > closed AND closed !=""
LIMIT 10

1 rows affected.

[(11356L,)]

# Creating Facts and Dimension

We create two fact tables, one for cycle time and one for flags on if a case is closed or not and if the case has a media url attached or not.

The star schema will measure the cycle time, difference between opened and closed timestamp, of 311 call and will take in to account if a call has been closed or not. To ensure data integrity, only rows with opened timestamp preceding the closed timestamp will be loaded. 

The schema has 2 fact tables and 5 dimension tables.

The 2 fact tables both contain case_id as the natural key, the cycle time fact table contains case_id and the elapsed time between opened and closed date. The closed_status fact table contains if a case has been closed or not and if the case has a media link or not. 

Dimension tables:
The day dimension table contains the opening and closed time stamps as well as various forms of the time and date variables. 

The status dimenstion table contains the status of the call and notes about that status. 

The responsible agency dimension table only contains this variable.

The request dimension table contains request type, request details, media url and source.

The location dimension table contains address, supervisor district, neighberhood and point.

**Creating the fact table and loading the data**

In [16]:
%%sql 
DROP TABLE IF EXISTS cycle_time_facts;
CREATE TABLE cycle_time_facts(
   id_cycle INT NOT NULL AUTO_INCREMENT,
   caseid INT,
   cycle_time INT,
   media_flag CHAR(3),
   PRIMARY KEY(id_cycle)
)

0 rows affected.
0 rows affected.

/Users/NRI/anaconda/lib/python2.7/site-packages/sqlalchemy/engine/default.py:450: Warning: Unknown table 'sf311.cycle_time_facts'
  cursor.execute(statement, parameters)

[]

In [17]:
%%sql
DELETE FROM cycle_time_facts;
INSERT INTO cycle_time_facts(caseid,cycle_time,media_flag)
SELECT caseid,TIMESTAMPDIFF(second,opened,closed),
 CASE
     WHEN media_url = ""
        THEN 'No'
    ELSE 'Yes'
    END
FROM cases
WHERE opened < closed AND closed !=""

0 rows affected.
1276861 rows affected.

[]

In [18]:
%%sql
SELECT *
FROM cycle_time_facts
LIMIT 10

10 rows affected.

[(1L, 5323951L, 887L, 'No'),
 (2L, 5323815L, 2600L, 'Yes'),
 (3L, 5323812L, 2649L, 'Yes'),
 (4L, 5323774L, 2700L, 'No'),
 (5L, 5323706L, 2734L, 'No'),
 (6L, 5323682L, 2375L, 'No'),
 (7L, 5323677L, 5795L, 'Yes'),
 (8L, 5323674L, 3917L, 'No'),
 (9L, 5323673L, 3921L, 'No'),
 (10L, 5323645L, 3756L, 'No')]

**Creating closed_facts and loading data**

In [19]:
%%sql 
DROP TABLE IF EXISTS closed_facts;
CREATE TABLE closed_facts(
   id_close INT NOT NULL AUTO_INCREMENT,
   caseid INT,
   closed_status CHAR(3),
   media_flag CHAR(3),
   PRIMARY KEY(id_close)
)

0 rows affected.
0 rows affected.

/Users/NRI/anaconda/lib/python2.7/site-packages/sqlalchemy/engine/default.py:450: Warning: Unknown table 'sf311.closed_facts'
  cursor.execute(statement, parameters)

[]

In [20]:
%%sql
DELETE FROM closed_facts;
INSERT INTO closed_facts(caseid,closed_status,media_flag)
SELECT caseid,
 CASE
    WHEN closed = ""
        THEN 'No'
    ELSE 'Yes'
    END,
CASE
    WHEN media_url = ""
        THEN 'No'
    ELSE 'Yes'
    END
FROM cases
WHERE opened < closed

0 rows affected.
1276861 rows affected.

[]

In [21]:
%%sql
SELECT * 
FROM closed_facts
ORDER BY caseid
LIMIT 10

10 rows affected.

[(1276861L, 196699L, 'Yes', 'No'),
 (1276860L, 240216L, 'Yes', 'No'),
 (1276859L, 240220L, 'Yes', 'No'),
 (1276858L, 240221L, 'Yes', 'No'),
 (1276857L, 240222L, 'Yes', 'No'),
 (1276856L, 240224L, 'Yes', 'No'),
 (1276855L, 240227L, 'Yes', 'No'),
 (1276854L, 240230L, 'Yes', 'No'),
 (1276853L, 240232L, 'Yes', 'No'),
 (1276852L, 240234L, 'Yes', 'No')]

**Creating the day dimension and loading the data**

In [24]:
%%sql
DROP TABLE IF EXISTS day_dim;
CREATE TABLE day_dim (
  day_key INT NOT NULL AUTO_INCREMENT,
  caseid INT,
  opened_dayname VARCHAR(9),
  closed_dayname VARCHAR(9),
  opened_day_of_month SMALLINT(2),
  closed_day_of_month SMALLINT(2),
  opened_weekday_flag CHAR(3),
  closed_weekday_flag CHAR(3),
  opened_weekend_flag CHAR(3),
  closed_weekend_flag CHAR(3),
  opened_month_name VARCHAR(9),
  closed_month_name VARCHAR(9),
  opened_year YEAR, 
  closed_year YEAR,
  PRIMARY KEY (day_key)
)

0 rows affected.
0 rows affected.

[]

In [25]:
%%sql
DELETE FROM day_dim;
INSERT INTO day_dim(
  caseid,
  opened_dayname,
  closed_dayname,
  opened_day_of_month,
  closed_day_of_month,  
  opened_weekday_flag,
  opened_weekend_flag,
  closed_weekday_flag,
  closed_weekend_flag,
  opened_month_name,
  closed_month_name, 
  opened_year,
  closed_year)
SELECT  caseid,DAYNAME(opened), 
    CASE 
        WHEN closed = "" THEN NULL
        ELSE DAYNAME(closed)
        END, 
    DAYOFMONTH(opened),
    CASE 
        WHEN closed = "" THEN NULL
        ELSE DAYOFMONTH(closed)
        END,
    CASE 
        WHEN WEEKDAY(opened) <= 4 THEN "Yes"
        ELSE "No"
        END, 
    CASE
        WHEN WEEKDAY(opened) > 4 THEN "Yes"
        ELSE "No"
        END,
    CASE 
        WHEN closed = "" THEN NULL
        ELSE  
            CASE 
                WHEN WEEKDAY(closed) <= 4 THEN "Yes"
                ELSE "No"
            END
        END, 
    CASE 
        WHEN closed = "" THEN NULL
        ELSE           
            CASE
                WHEN WEEKDAY(closed) > 4 THEN "Yes"
                ELSE "No"
            END
        END,
    MONTHNAME(opened), 
    CASE 
        WHEN closed = "" THEN NULL
        ELSE MONTHNAME(closed)
    END, 
    YEAR(opened),
    CASE 
        WHEN closed = "" THEN NULL
        ELSE YEAR(closed)
    END
FROM cases
WHERE opened < closed

0 rows affected.
1276861 rows affected.

[]

In [26]:
%%sql
SELECT *
FROM day_dim
limit 5

5 rows affected.

[(1L, 5323951L, 'Friday', 'Friday', 27, 27, 'Yes', 'Yes', 'No', 'No', 'November', 'November', 2015, 2015),
 (2L, 5323815L, 'Friday', 'Friday', 27, 27, 'Yes', 'Yes', 'No', 'No', 'November', 'November', 2015, 2015),
 (3L, 5323812L, 'Friday', 'Friday', 27, 27, 'Yes', 'Yes', 'No', 'No', 'November', 'November', 2015, 2015),
 (4L, 5323774L, 'Friday', 'Friday', 27, 27, 'Yes', 'Yes', 'No', 'No', 'November', 'November', 2015, 2015),
 (5L, 5323706L, 'Friday', 'Friday', 27, 27, 'Yes', 'Yes', 'No', 'No', 'November', 'November', 2015, 2015)]

**Creating status dimension and loading the data

In [27]:
%%sql 
DROP TABLE IF EXISTS status_dim;
CREATE TABLE status_dim(
  status_key INT NOT NULL AUTO_INCREMENT,
  caseid INT,
  status VARCHAR(7),
  status_notes LONGTEXT,
  PRIMARY KEY (status_key)
)

0 rows affected.
0 rows affected.

/Users/NRI/anaconda/lib/python2.7/site-packages/sqlalchemy/engine/default.py:450: Warning: Unknown table 'sf311.status_dim'
  cursor.execute(statement, parameters)

[]

In [28]:
%%sql
DELETE FROM status_dim;
INSERT INTO status_dim(caseid,status,status_notes)
SELECT caseid,status,status_notes
FROM cases
WHERE opened < closed

0 rows affected.
1276861 rows affected.

[]

In [29]:
%%sql
SELECT * 
FROM status_dim
LIMIT 5

5 rows affected.

[(1L, 5323951L, 'Closed', 'Case Completed - resolved: Pickup completed.'),
 (2L, 5323815L, 'Closed', 'Case Completed - resolved: In Special Corridor'),
 (3L, 5323812L, 'Closed', 'Case Completed - resolved: In Special Corridor'),
 (4L, 5323774L, 'Closed', 'Case Completed - resolved: PRIVATE PROPERTY;HOMELESS PERSON CLAIMED THIS PROPERTY. THANKS'),
 (5L, 5323706L, 'Closed', 'Case Completed - resolved: duplicate')]

**Creating responsible agency dimension table and loading the data**

In [30]:
%%sql 
DROP TABLE IF EXISTS resp_dim;
CREATE TABLE resp_dim(
  resp_key INT NOT NULL AUTO_INCREMENT,
  caseid INT,
  responsible_agency VARCHAR(60),
  PRIMARY KEY (resp_key)
)

0 rows affected.
0 rows affected.

/Users/NRI/anaconda/lib/python2.7/site-packages/sqlalchemy/engine/default.py:450: Warning: Unknown table 'sf311.resp_dim'
  cursor.execute(statement, parameters)

[]

In [31]:
%%sql
DELETE FROM resp_dim;
INSERT INTO resp_dim(caseid,responsible_agency)
SELECT caseid,responsible_agency
FROM cases
WHERE opened < closed

0 rows affected.
1276861 rows affected.

[]

In [32]:
%%sql
SELECT *
FROM resp_dim
LIMIT 5

5 rows affected.

[(1L, 5323951L, 'Recology_Abandoned'),
 (2L, 5323815L, 'DPW Ops Queue'),
 (3L, 5323812L, 'DPW Ops Queue'),
 (4L, 5323774L, 'Recology_Abandoned'),
 (5L, 5323706L, 'DPW Ops Queue')]

**Creating request dimension table and loading the data**

In [33]:
%%sql 
DROP TABLE IF EXISTS request_dim;
CREATE TABLE request_dim(
  request_key INT NOT NULL AUTO_INCREMENT,
  caseid INT,
  request_type MEDIUMTEXT,
  request_details VARCHAR(100),
  source VARCHAR(30),
  PRIMARY KEY (request_key)
)

0 rows affected.
0 rows affected.

/Users/NRI/anaconda/lib/python2.7/site-packages/sqlalchemy/engine/default.py:450: Warning: Unknown table 'sf311.request_dim'
  cursor.execute(statement, parameters)

[]

In [34]:
%%sql
DELETE FROM request_dim;
INSERT INTO request_dim(caseid,request_type,request_details,source)
SELECT caseid,request_type,request_details,source
FROM cases
WHERE opened < closed

0 rows affected.
1276861 rows affected.

[]

In [35]:
%%sql
SELECT * 
FROM request_dim
LIMIT 5

5 rows affected.

[(1L, 5323951L, 'Bulky Items', 'Refrigerator', 'Integrated Agency'),
 (2L, 5323815L, 'General Cleaning', 'Other Loose Garbage', 'Open311'),
 (3L, 5323812L, 'General Cleaning', 'Other Loose Garbage', 'Open311'),
 (4L, 5323774L, 'Illegal Encampment', 'Carts', 'Open311'),
 (5L, 5323706L, 'Trees - Damaged_Tree', 'About_to_fall', 'Voice In')]

**Creating location dimension table and loading the data**

In [36]:
%%sql 
DROP TABLE IF EXISTS location_dim;
CREATE TABLE location_dim(
  location_key INT NOT NULL AUTO_INCREMENT,
  caseid INT,
  street VARCHAR(70),
  zipcode LONGTEXT,
  supervisor_district VARCHAR(20),
  neighborhood VARCHAR(50),
  point VARCHAR(75),
  PRIMARY KEY (location_key)
)

0 rows affected.
0 rows affected.

/Users/NRI/anaconda/lib/python2.7/site-packages/sqlalchemy/engine/default.py:450: Warning: Unknown table 'sf311.location_dim'
  cursor.execute(statement, parameters)

[]

The CASE statement checks to ensure that the first two digits of the extracted substring are "94" to 
ensure that a zipcode is entered into the column

In [37]:
%%sql
DELETE FROM location_dim;
INSERT INTO location_dim(caseid, street, zipcode, supervisor_district, neighborhood, point)
SELECT caseid, SUBSTRING_INDEX(address,',',1),
    CASE WHEN TRIM(SUBSTRING(SUBSTRING_INDEX(SUBSTRING_INDEX(address,',',100),',',-1),1,3)) = "94" THEN 
        SUBSTRING_INDEX(SUBSTRING_INDEX(address,',',100),',',-1)
    ELSE NULL
    END,
    supervisor_district, neighborhood, point
FROM cases
WHERE opened < closed

0 rows affected.
1276861 rows affected.

[]

In [38]:
%%sql
SELECT COUNT(*)
FROM location_dim
WHERE zipcode IS NOT NULL
LIMIT 20

1 rows affected.

[(723600L,)]

In [39]:
%%sql
SELECT *
FROM location_dim
LIMIT 5

5 rows affected.

[(1L, 5323951L, 'Intersection of MINT ST and MISSION ST', None, '6', 'South of Market', '(37.7821905843181, -122.407164433907)'),
 (2L, 5323815L, '500 BROADWAY', ' 94133', '3', 'North Beach', '(37.798151615551, -122.405653361189)'),
 (3L, 5323812L, '500 BROADWAY', ' 94133', '3', 'North Beach', '(37.798151615551, -122.405653361189)'),
 (4L, 5323774L, '429 BEALE ST', ' 94105', '6', 'Rincon Hill', '(37.787120278008, -122.390541629907)'),
 (5L, 5323706L, 'Intersection of PORTOLA DR and LAGUNA HONDA BLVD', None, '7', 'Laguna Honda', '(37.7430486409143, -122.455271086414)')]

In [40]:
%%sql
SELECT COUNT(*)
FROM location_dim

1 rows affected.

[(1276861L,)]