# About the Dataset
This public dataset of [311 cases](https://data.sfgov.org/City-Infrastructure/Case-Data-from-San-Francisco-311-SF311-/vw6y-z8j6) from San Francisco. Cases range start from 2008 and 2015. The database is live thus new cases are added.

In [ ]:
!wget -O sf311.csv https://data.sfgov.org/api/views/vw6y-z8j6/rows.csv?accessType=DOWNLOAD

As of November 29, 2015, the dataset is about 400 MB with 1.4 Million Rows

In [59]:
!wc -l sf311.csv

 1411602 sf311.csv

In [60]:
!csvcut -n sf311.csv

  1: CaseID
  2: Opened
  3: Closed
  4: Updated
  5: Status
  6: Status Notes
  7: Responsible Agency
  8: Category
  9: Request Type
 10: Request Details
 11: Address
 12: Supervisor District
 13: Neighborhood
 14: Point
 15: Source
 16: Media URL

In [61]:
!head -n 10 sf311.csv |csvcut -c 1,2,3,4| csvlook

|----------+------------------------+------------------------+-------------------------|
|  CaseID  | Opened                 | Closed                 | Updated                 |
|----------+------------------------+------------------------+-------------------------|
|  5327068 | 11/29/2015 12:50:06 PM |                        | 11/29/2015 12:50:06 PM  |
|  5327058 | 11/29/2015 12:28:18 PM |                        | 11/29/2015 12:28:19 PM  |
|  5327055 | 11/29/2015 12:23:18 PM |                        | 11/29/2015 01:08:49 AM  |
|  5327053 | 11/29/2015 12:22:35 PM |                        | 11/29/2015 12:54:21 PM  |
|  5325950 | 11/28/2015 12:59:27 PM |                        | 11/28/2015 01:03:41 AM  |
|  5325948 | 11/28/2015 12:58:35 PM | 11/28/2015 08:14:03 AM | 11/28/2015 08:14:03 AM  |
|  5325947 | 11/28/2015 12:58:05 PM | 11/28/2015 11:21:55 AM | 11/28/2015 11:21:55 AM  |
|  5325943 | 11/28/2015 12:56:16 PM |                        | 11/28/2015 12:56:16 PM  |
|  5325942 | 11/28/2015 12:55:24 PM |                        | 11/28/2015 12:56:47 PM  |
|----------+------------------------+------------------------+-------------------------|

In [62]:
!head -n 10 sf311.csv |csvcut -c 5,6| csvlook

|---------+-----------------------------------|
|  Status | Status Notes                      |
|---------+-----------------------------------|
|  Open   | accepted                          |
|  Open   | accepted                          |
|  Open   | closed                            |
|  Open   | open                              |
|  Open   | Open                              |
|  Closed | Case Completed - resolved: 10-98  |
|  Closed | Case Completed - resolved: 1098   |
|  Open   | Open                              |
|  Open   | Open                              |
|---------+-----------------------------------|

In [63]:
!head -n 10 sf311.csv | csvcut -c 7,8| csvlook

|---------------------------------+-------------------------------|
|  Responsible Agency             | Category                      |
|---------------------------------+-------------------------------|
|  DPW Ops Queue                  | Street and Sidewalk Cleaning  |
|  DPW Ops Queue                  | Street and Sidewalk Cleaning  |
|  DPW Ops Queue                  | Sewer Issues                  |
|  PUC Sewer Ops                  | Sewer Issues                  |
|  Housing Authority SR Queue     | SFHA Requests                 |
|  DPW Ops Queue                  | Street and Sidewalk Cleaning  |
|  DPW Ops Queue                  | Street and Sidewalk Cleaning  |
|  DPT SignShop 10 Queue          | Sign Repair                   |
|  DPH - Environmental Health - G | Street and Sidewalk Cleaning  |
|---------------------------------+-------------------------------|

In [64]:
!head -n 10 sf311.csv | csvcut -c 9,10 | csvlook

|----------------------------+-------------------------------|
|  Request Type              | Request Details               |
|----------------------------+-------------------------------|
|  Illegal Encampment        | Encampment Cleanup            |
|  Illegal Encampment        | Encampment Cleanup            |
|  Flooding                  | On_street                     |
|  Flooding                  | On_street                     |
|  SFHA Priority - Emergency | Plumbers                      |
|  Illegal Encampment        | Encampment Cleanup            |
|  General Cleaning          | Other Loose Garbage           |
|  Sign - Bent               | Other - Bent; support - Bent  |
|  Hazardous Materials       | Needles                       |
|----------------------------+-------------------------------|

In [65]:
!head -n 10 sf311.csv | csvcut -c 11,12| csvlook

|--------------------------------------------+----------------------|
|  Address                                   | Supervisor District  |
|--------------------------------------------+----------------------|
|  Intersection of 15TH ST and JULIAN AVE    | 9                    |
|  Intersection of DOLORES ST and MARKET ST  | 8                    |
|  517 BROADWAY, SAN FRANCISCO, CA, 94133    | 3                    |
|  517 BROADWAY, SAN FRANCISCO, CA, 94133    | 3                    |
|  122 DAKOTA ST, SAN FRANCISCO, CA, 94107   | 10                   |
|  2075 FOLSOM ST, SAN FRANCISCO, CA, 94110  | 9                    |
|  Intersection of ATHENS ST and AVALON AVE  | 11                   |
|  Intersection of CARGO WAY and JENNINGS ST | 10                   |
|  Intersection of MOJAVE ST and BRADFORD ST | 9                    |
|--------------------------------------------+----------------------|

In [66]:
!head -n 10 sf311.csv | csvcut -c 13,14,15| csvlook

|------------------+---------------------------------------+-----------|
|  Neighborhood    | Point                                 | Source    |
|------------------+---------------------------------------+-----------|
|  Mission         | (37.7665993360598, -122.421056485527) | Open311   |
|  Mission Dolores | (37.7690422430629, -122.426858401469) | Open311   |
|  North Beach     | (37.797746073714, -122.405864462097)  | Open311   |
|  North Beach     | (37.797746073714, -122.405864462097)  | Open311   |
|  Potrero Hill    | (37.753580414134, -122.396685179144)  | Voice In  |
|  Mission         | (37.764097916779, -122.415011903149)  | Open311   |
|  Excelsior       | (37.7247601827023, -122.426092866101) | Voice In  |
|  India Basin     | (37.7401919512228, -122.376847268678) | Open311   |
|  Bernal Heights  | (37.7388868577067, -122.409571516367) | Voice In  |
|------------------+---------------------------------------+-----------|

In [67]:
!head -n 10 sf311.csv | csvcut -c 16

Media URL
http://mobile311.sfgov.org/media/san_francisco/report/photos/565abc19df86720e87c8c016/report.jpg
http://mobile311.sfgov.org/media/san_francisco/report/photos/565ab71adf86720e87c8bfc2/report.jpg
http://mobile311.sfgov.org/media/san_francisco/report/photos/565ab5dddf86720e87c8bf9d/photo_20151129_002038.jpg
http://mobile311.sfgov.org/media/san_francisco/report/photos/565ab58cdf86720e87c8bf7a/photo_20151129_002038.jpg
""
http://mobile311.sfgov.org/media/san_francisco/report/photos/565a1573df86720e87c8b93f/report.jpg
""
http://mobile311.sfgov.org/media/san_francisco/report/photos/565a14e9df86720e87c8b927/report.jpg
""

## Loading the data into MySQL

In [68]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Log into mysql as the root password; create the shoppers database and grant the privilege to mysqluser. For example,  grant all privileges on bank.* to 'lrngsql'@'localhost' identified by 'password'

In [69]:
!echo "DROP DATABASE IF EXISTS sf311" | mysql --user=mysqluser --password=mysqlpass
!echo "CREATE DATABASE sf311" | mysql --user=mysqluser --password=mysqlpass

Warning: Using a password on the command line interface can be insecure.
Warning: Using a password on the command line interface can be insecure.

In [70]:
%sql mysql://mysqluser:mysqlpass@localhost/sf311

u'Connected: mysqluser@sf311'

In [71]:
%%sql 
CREATE TABLE cases(
    caseid INT,
    opened VARCHAR(30), 
    closed VARCHAR(30),
    updated VARCHAR(30),
    status VARCHAR(7),
    status_notes LONGTEXT,
    responsible_agency VARCHAR(60),
    category VARCHAR(30),
    request_type MEDIUMTEXT,
    request_details VARCHAR(100),
    address VARCHAR(100),
    supervisor_district VARCHAR(20),
    neighborhood VARCHAR(60),
    point VARCHAR(75),
    source VARCHAR(30),
    media_url MEDIUMTEXT
);

0 rows affected.

[]

In [72]:
%%sql
LOAD DATA LOCAL INFILE 'sf311.csv'
REPLACE
INTO TABLE cases
FIELDS TERMINATED BY ','
       OPTIONALLY ENCLOSED BY '"'
IGNORE 1 LINES

1410342 rows affected.

[]

**Casting opened, closed, and updated as datetime. Setting the blank closed columns as NULL.**

In [73]:
%%sql UPDATE cases
SET opened = (STR_TO_DATE(opened,'%m/%d/%Y %h:%i:%s %p'))
WHERE opened != ""

1410342 rows affected.

[]

In [74]:
%%sql UPDATE cases
SET closed = (STR_TO_DATE(closed,'%m/%d/%Y %h:%i:%s %p'))
WHERE closed != ""

1288820 rows affected.

[]

In [75]:
%%sql UPDATE cases
SET updated = (STR_TO_DATE(updated,'%m/%d/%Y %h:%i:%s %p'))
WHERE updated != ""

1410342 rows affected.

[]

In [76]:
%%sql UPDATE cases
SET closed = NULL
WHERE closed =""

121522 rows affected.

[]

Showing a snapshot of the data.

In [77]:
%%sql SELECT *
FROM cases
LIMIT 10

10 rows affected.

[(5327068L, '2015-11-29 12:50:06', None, '2015-11-29 12:50:06', 'Open', 'accepted', 'DPW Ops Queue', 'Street and Sidewalk Cleaning', 'Illegal Encampment', 'Encampment Cleanup', 'Intersection of 15TH ST and JULIAN AVE', '9', 'Mission', '(37.7665993360598, -122.421056485527)', 'Open311', 'http://mobile311.sfgov.org/media/san_francisco/report/photos/565abc19df86720e87c8c016/report.jpg'),
 (5327058L, '2015-11-29 12:28:18', None, '2015-11-29 12:28:19', 'Open', 'accepted', 'DPW Ops Queue', 'Street and Sidewalk Cleaning', 'Illegal Encampment', 'Encampment Cleanup', 'Intersection of DOLORES ST and MARKET ST', '8', 'Mission Dolores', '(37.7690422430629, -122.426858401469)', 'Open311', 'http://mobile311.sfgov.org/media/san_francisco/report/photos/565ab71adf86720e87c8bfc2/report.jpg'),
 (5327055L, '2015-11-29 12:23:18', None, '2015-11-29 01:08:49', 'Open', 'closed', 'DPW Ops Queue', 'Sewer Issues', 'Flooding', 'On_street', '517 BROADWAY, SAN FRANCISCO, CA, 94133', '3', 'North Beach', '(37.797746073714, -122.405864462097)', 'Open311', 'http://mobile311.sfgov.org/media/san_francisco/report/photos/565ab5dddf86720e87c8bf9d/photo_20151129_002038.jpg'),
 (5327053L, '2015-11-29 12:22:35', None, '2015-11-29 12:54:21', 'Open', 'open', 'PUC Sewer Ops', 'Sewer Issues', 'Flooding', 'On_street', '517 BROADWAY, SAN FRANCISCO, CA, 94133', '3', 'North Beach', '(37.797746073714, -122.405864462097)', 'Open311', 'http://mobile311.sfgov.org/media/san_francisco/report/photos/565ab58cdf86720e87c8bf7a/photo_20151129_002038.jpg'),
 (5325950L, '2015-11-28 12:59:27', None, '2015-11-28 01:03:41', 'Open', 'Open', 'Housing Authority SR Queue', 'SFHA Requests', 'SFHA Priority - Emergency', 'Plumbers', '122 DAKOTA ST, SAN FRANCISCO, CA, 94107', '10', 'Potrero Hill', '(37.753580414134, -122.396685179144)', 'Voice In', ''),
 (5325948L, '2015-11-28 12:58:35', '2015-11-28 08:14:03', '2015-11-28 08:14:03', 'Closed', 'Case Completed - resolved: 10-98', 'DPW Ops Queue', 'Street and Sidewalk Cleaning', 'Illegal Encampment', 'Encampment Cleanup', '2075 FOLSOM ST, SAN FRANCISCO, CA, 94110', '9', 'Mission', '(37.764097916779, -122.415011903149)', 'Open311', 'http://mobile311.sfgov.org/media/san_francisco/report/photos/565a1573df86720e87c8b93f/report.jpg'),
 (5325947L, '2015-11-28 12:58:05', '2015-11-28 11:21:55', '2015-11-28 11:21:55', 'Closed', 'Case Completed - resolved: 1098', 'DPW Ops Queue', 'Street and Sidewalk Cleaning', 'General Cleaning', 'Other Loose Garbage', 'Intersection of ATHENS ST and AVALON AVE', '11', 'Excelsior', '(37.7247601827023, -122.426092866101)', 'Voice In', ''),
 (5325943L, '2015-11-28 12:56:16', None, '2015-11-28 12:56:16', 'Open', 'Open', 'DPT SignShop 10 Queue', 'Sign Repair', 'Sign - Bent', 'Other - Bent; support - Bent', 'Intersection of CARGO WAY and JENNINGS ST', '10', 'India Basin', '(37.7401919512228, -122.376847268678)', 'Open311', 'http://mobile311.sfgov.org/media/san_francisco/report/photos/565a14e9df86720e87c8b927/report.jpg'),
 (5325942L, '2015-11-28 12:55:24', None, '2015-11-28 12:56:47', 'Open', 'Open', 'DPH - Environmental Health - G', 'Street and Sidewalk Cleaning', 'Hazardous Materials', 'Needles', 'Intersection of MOJAVE ST and BRADFORD ST', '9', 'Bernal Heights', '(37.7388868577067, -122.409571516367)', 'Voice In', ''),
 (5325941L, '2015-11-28 12:54:23', '2015-11-28 01:56:31', '2015-11-28 01:56:31', 'Closed', 'Case Completed - resolved: WASTE NOT FOUND', 'Recology_Abandoned', 'Street and Sidewalk Cleaning', 'Bulky Items', 'Boxed or Bagged Items', 'Intersection of DUNSHEE ST and PALOU AVE', '10', 'Silver Terrace', '(37.7366863734836, -122.395685667711)', 'Open311', '')]

# Exploring and cleaning the data

Case id field has duplicates

In [97]:
%%sql SELECT caseid, COUNT(caseid)
FROM cases
GROUP BY caseid
HAVING COUNT(caseid) > 1

8 rows affected.

[(3647837L, 2L),
 (3814470L, 2L),
 (3858063L, 2L),
 (4903339L, 2L),
 (5057840L, 2L),
 (5191319L, 2L),
 (5296565L, 2L),
 (5297385L, 2L)]

By inspection, the duplicate fields were added due to the dead links on the media url. Dead url have "311crm-prod" address.

In [100]:
%%sql SELECT caseid,opened,closed,updated,status,status_notes,responsible_agency,category,
    request_type,request_details, address, supervisor_district, neighborhood, point, source, media_url,
    length(media_url)
FROM cases
WHERE caseid = 5297385

2 rows affected.

[(5297385L, '2015-11-18 02:27:28', None, '2015-11-18 02:28:38', 'Open', 'open', 'DPW Ops Queue', 'Graffiti Private Property', 'Not_Offensive Graffiti on Private Property', 'Building_other - Not_Offensive', 'Intersection of GOUGH ST and MCCOPPIN ST', '6', 'South of Market', '(37.7717702018251, -122.420344469988)', 'Other Department', 'http://mobile311.sfgov.org/media/san_francisco/report/photos/564cd791df86720e87c80d0a/photo_20151118_115412.jpg', 111L),
 (5297385L, '2015-11-18 02:27:28', None, '2015-11-18 02:28:38', 'Open', 'open', 'DPW Ops Queue', 'Graffiti Private Property', 'Not_Offensive Graffiti on Private Property', 'Building_other - Not_Offensive', 'Intersection of GOUGH ST and MCCOPPIN ST', '6', 'South of Market', '(37.7717702018251, -122.420344469988)', 'Other Department', 'https://311crm-prod.ad.sfgov.org/attachments/viewCaseNoteAttachments.jsp?caseid=5297385', 87L)]

Creating a temporary table to store the duplicate fiels since MYSQL doesn't allow reference to the same table in a DELETE statement

In [105]:
%%sql 
DROP VIEW IF EXISTS duplicates;
CREATE VIEW duplicates(caseid) AS
SELECT caseid
FROM cases
GROUP BY caseid
HAVING COUNT(caseid) > 1

0 rows affected.
0 rows affected.

[]

Verifying table

In [106]:
%sql SELECT * FROM duplicates

8 rows affected.

[(3647837L,),
 (3814470L,),
 (3858063L,),
 (4903339L,),
 (5057840L,),
 (5191319L,),
 (5296565L,),
 (5297385L,)]

Deleting duplicates datasets with "311crm" url and then deleting the temporary duplicates view

In [145]:
%%sql
DELETE
FROM CASES
WHERE media_url LIKE '%311crm%' AND caseid in (
    SELECT caseid
    FROM duplicates);
DROP VIEW IF EXISTS duplicates

0 rows affected.
0 rows affected.

[]

No more duplicate caseid left.

In [111]:
%%sql SELECT COUNT(caseid),caseid
FROM cases
GROUP BY caseid
HAVING COUNT(caseid) > 1

0 rows affected.

[]

Not all of the opened time stamps occurred before the closed time stampe. Thus, only rows with opened timestamp predating the closed time stamp will be added to the dimmensions

In [124]:
%%sql
SELECT COUNT(opened)
FROM cases
WHERE closed IS NULL

1 rows affected.

[(121521L,)]

In [114]:
%%sql
SELECT COUNT(opened)
FROM cases
WHERE opened < closed

1 rows affected.

[(1277382L,)]

In [115]:
%%sql
SELECT COUNT(opened)
FROM cases
WHERE opened > closed

1 rows affected.

[(11418L,)]

# Creating Facts and Dimension

We create two fact tables, one for cycle time and one for flags on if a case is closed or not and if the case has a media url attached or not.

The star schema will measure the cycle time, difference between opened and closed timestamp, of 311 call and will take in to account if a call has been closed or not. To ensure data integrity, only rows with opened timestamp preceding the closed timestamp will be loaded. 

The schema has 2 fact tables and 5 dimension tables.

The 2 fact tables both contain case_id as the natural key, the cycle time fact table contains case_id and the elapsed time between opened and closed date. The closed_status fact table contains if a case has been closed or not and if the case has a media link or not. 

Dimension tables:
The day dimension table contains the opening and closed time stamps as well as various forms of the time and date variables. 

The status dimenstion table contains the status of the call and notes about that status. 

The responsible agency dimension table only contains this variable.

The request dimension table contains request type, request details, media url and source.

The location dimension table contains address, supervisor district, neighberhood and point.

**Creating the fact table and loading the data**

In [116]:
%%sql 
DROP TABLE IF EXISTS cycle_time_facts;
CREATE TABLE cycle_time_facts(
   id_cycle INT NOT NULL AUTO_INCREMENT,
   caseid INT,
   cycle_time INT,
   media_flag CHAR(3),
   PRIMARY KEY(id_cycle)
)

0 rows affected.
0 rows affected.

/Users/mdotnasty/anaconda/lib/python2.7/site-packages/sqlalchemy/engine/default.py:435: Warning: Unknown table 'sf311.cycle_time_facts'
  cursor.execute(statement, parameters)

[]

In [117]:
%%sql
DELETE FROM cycle_time_facts;
INSERT INTO cycle_time_facts(caseid,cycle_time,media_flag)
SELECT caseid,TIMESTAMPDIFF(second,opened,closed),
 CASE
     WHEN media_url = ""
        THEN 'No'
    ELSE 'Yes'
    END
FROM cases
WHERE opened < closed AND closed IS NOT NULL

0 rows affected.
1277382 rows affected.

[]

In [118]:
%%sql
SELECT *
FROM cycle_time_facts
LIMIT 10

10 rows affected.

[(1L, 5325882L, 480L, 'No'),
 (2L, 5325881L, 1376L, 'No'),
 (3L, 5325823L, 1042L, 'No'),
 (4L, 5325794L, 2596L, 'Yes'),
 (5L, 5325782L, 2933L, 'No'),
 (6L, 5325768L, 2249L, 'Yes'),
 (7L, 5325759L, 3931L, 'No'),
 (8L, 5325749L, 4162L, 'No'),
 (9L, 5325735L, 2307L, 'Yes'),
 (10L, 5327038L, 89015L, 'Yes')]

**Creating closed_facts and loading data**

In [119]:
%%sql 
DROP TABLE IF EXISTS closed_facts;
CREATE TABLE closed_facts(
   id_close INT NOT NULL AUTO_INCREMENT,
   caseid INT,
   closed_status CHAR(3),
   media_flag CHAR(3),
   PRIMARY KEY(id_close)
)

0 rows affected.
0 rows affected.

/Users/mdotnasty/anaconda/lib/python2.7/site-packages/sqlalchemy/engine/default.py:435: Warning: Unknown table 'sf311.closed_facts'
  cursor.execute(statement, parameters)

[]

In [125]:
%%sql
DELETE FROM closed_facts;
INSERT INTO closed_facts(caseid,closed_status,media_flag)
SELECT caseid,
 CASE
    WHEN closed = NULL
        THEN 'No'
    ELSE 'Yes'
    END,
CASE
    WHEN media_url = ""
        THEN 'No'
    ELSE 'Yes'
    END
FROM cases

1277382 rows affected.
1410334 rows affected.

[]

In [126]:
%%sql
SELECT * 
FROM closed_facts
ORDER BY caseid
LIMIT 10

10 rows affected.

[(4031734L, 196699L, 'Yes', 'No'),
 (4031733L, 240216L, 'Yes', 'No'),
 (4031732L, 240220L, 'Yes', 'No'),
 (4031731L, 240221L, 'Yes', 'No'),
 (4031730L, 240222L, 'Yes', 'No'),
 (4031729L, 240224L, 'Yes', 'No'),
 (4031728L, 240227L, 'Yes', 'No'),
 (4031727L, 240230L, 'Yes', 'No'),
 (4031726L, 240232L, 'Yes', 'No'),
 (4031725L, 240234L, 'Yes', 'No')]

**Creating the day dimension and loading the data**

In [127]:
%%sql
DROP TABLE IF EXISTS day_dim;
CREATE TABLE day_dim (
  day_key INT NOT NULL AUTO_INCREMENT,
  caseid INT,
  opened_dayname VARCHAR(9),
  closed_dayname VARCHAR(9),
  opened_day_of_month SMALLINT(2),
  closed_day_of_month SMALLINT(2),
  opened_weekday_flag CHAR(3),
  closed_weekday_flag CHAR(3),
  opened_weekend_flag CHAR(3),
  closed_weekend_flag CHAR(3),
  opened_month_name VARCHAR(9),
  closed_month_name VARCHAR(9),
  opened_year YEAR, 
  closed_year YEAR,
  PRIMARY KEY (day_key)
)

0 rows affected.
0 rows affected.

/Users/mdotnasty/anaconda/lib/python2.7/site-packages/sqlalchemy/engine/default.py:435: Warning: Unknown table 'sf311.day_dim'
  cursor.execute(statement, parameters)

[]

In [129]:
%%sql
DELETE FROM day_dim;
INSERT INTO day_dim(
  caseid,
  opened_dayname,
  closed_dayname,
  opened_day_of_month,
  closed_day_of_month,  
  opened_weekday_flag,
  opened_weekend_flag,
  closed_weekday_flag,
  closed_weekend_flag,
  opened_month_name,
  closed_month_name, 
  opened_year,
  closed_year)
SELECT  caseid,DAYNAME(opened), DAYNAME(closed), DAYOFMONTH(opened), DAYOFMONTH(closed),
    CASE 
        WHEN WEEKDAY(opened) <= 4 THEN "Yes"
        ELSE "No"
    END, 
    CASE
        WHEN WEEKDAY(opened) > 4 THEN "Yes"
        ELSE "No"
    END, 
    CASE 
        WHEN WEEKDAY(closed) <= 4 THEN "Yes"
        ELSE "No"
    END, 
    CASE
        WHEN WEEKDAY(closed) > 4 THEN "Yes"
        ELSE "No"
    END,
    MONTHNAME(opened), 
    MONTHNAME(closed), 
    YEAR(opened),
    YEAR(closed)
FROM cases

1410334 rows affected.
1410334 rows affected.

[]

In [130]:
%%sql
SELECT *
FROM day_dim
limit 5

5 rows affected.

[(1441771L, 5327068L, 'Sunday', None, 29, None, 'No', 'No', 'Yes', 'No', 'November', None, 2015, None),
 (1441772L, 5327058L, 'Sunday', None, 29, None, 'No', 'No', 'Yes', 'No', 'November', None, 2015, None),
 (1441773L, 5327055L, 'Sunday', None, 29, None, 'No', 'No', 'Yes', 'No', 'November', None, 2015, None),
 (1441774L, 5327053L, 'Sunday', None, 29, None, 'No', 'No', 'Yes', 'No', 'November', None, 2015, None),
 (1441775L, 5325950L, 'Saturday', None, 28, None, 'No', 'No', 'Yes', 'No', 'November', None, 2015, None)]

**Creating status dimension and loading the data

In [132]:
%%sql 
DROP TABLE IF EXISTS status_dim;
CREATE TABLE status_dim(
  status_key INT NOT NULL AUTO_INCREMENT,
  caseid INT,
  status VARCHAR(7),
  status_notes LONGTEXT,
  PRIMARY KEY (status_key)
)

0 rows affected.
0 rows affected.

[]

In [133]:
%%sql
DELETE FROM status_dim;
INSERT INTO status_dim(caseid,status,status_notes)
SELECT caseid,status,status_notes
FROM cases

0 rows affected.
1410334 rows affected.

[]

In [134]:
%%sql
SELECT * 
FROM status_dim
LIMIT 5

5 rows affected.

[(1L, 5327068L, 'Open', 'accepted'),
 (2L, 5327058L, 'Open', 'accepted'),
 (3L, 5327055L, 'Open', 'closed'),
 (4L, 5327053L, 'Open', 'open'),
 (5L, 5325950L, 'Open', 'Open')]

**Creating responsible agency dimension table and loading the data**

In [135]:
%%sql 
DROP TABLE IF EXISTS resp_dim;
CREATE TABLE resp_dim(
  resp_key INT NOT NULL AUTO_INCREMENT,
  caseid INT,
  responsible_agency VARCHAR(60),
  PRIMARY KEY (resp_key)
)

0 rows affected.
0 rows affected.

/Users/mdotnasty/anaconda/lib/python2.7/site-packages/sqlalchemy/engine/default.py:435: Warning: Unknown table 'sf311.resp_dim'
  cursor.execute(statement, parameters)

[]

In [136]:
%%sql
DELETE FROM resp_dim;
INSERT INTO resp_dim(caseid,responsible_agency)
SELECT caseid,responsible_agency
FROM cases

0 rows affected.
1410334 rows affected.

[]

In [137]:
%%sql
SELECT *
FROM resp_dim
LIMIT 5

5 rows affected.

[(1L, 5327068L, 'DPW Ops Queue'),
 (2L, 5327058L, 'DPW Ops Queue'),
 (3L, 5327055L, 'DPW Ops Queue'),
 (4L, 5327053L, 'PUC Sewer Ops'),
 (5L, 5325950L, 'Housing Authority SR Queue')]

**Creating request dimension table and loading the data**

In [138]:
%%sql 
DROP TABLE IF EXISTS request_dim;
CREATE TABLE request_dim(
  request_key INT NOT NULL AUTO_INCREMENT,
  caseid INT,
  request_type MEDIUMTEXT,
  request_details VARCHAR(100),
  source VARCHAR(30),
  PRIMARY KEY (request_key)
)

0 rows affected.
0 rows affected.

/Users/mdotnasty/anaconda/lib/python2.7/site-packages/sqlalchemy/engine/default.py:435: Warning: Unknown table 'sf311.request_dim'
  cursor.execute(statement, parameters)

[]

In [139]:
%%sql
DELETE FROM request_dim;
INSERT INTO request_dim(caseid,request_type,request_details,source)
SELECT caseid,request_type,request_details,source
FROM cases

0 rows affected.
1410334 rows affected.

[]

In [140]:
%%sql
SELECT * 
FROM request_dim
LIMIT 5

5 rows affected.

[(1L, 5327068L, 'Illegal Encampment', 'Encampment Cleanup', 'Open311'),
 (2L, 5327058L, 'Illegal Encampment', 'Encampment Cleanup', 'Open311'),
 (3L, 5327055L, 'Flooding', 'On_street', 'Open311'),
 (4L, 5327053L, 'Flooding', 'On_street', 'Open311'),
 (5L, 5325950L, 'SFHA Priority - Emergency', 'Plumbers', 'Voice In')]

**Creating location dimension table and loading the data**

In [141]:
%%sql 
DROP TABLE IF EXISTS location_dim;
CREATE TABLE location_dim(
  location_key INT NOT NULL AUTO_INCREMENT,
  caseid INT,
  street VARCHAR(70),
  zipcode LONGTEXT,
  supervisor_district VARCHAR(20),
  neighborhood VARCHAR(50),
  point VARCHAR(75),
  PRIMARY KEY (location_key)
)

0 rows affected.
0 rows affected.

/Users/mdotnasty/anaconda/lib/python2.7/site-packages/sqlalchemy/engine/default.py:435: Warning: Unknown table 'sf311.location_dim'
  cursor.execute(statement, parameters)

[]

The CASE statement checks to ensure that the first two digits of the extracted substring are "94" to 
ensure that a zipcode is entered into the column. The address field is not standardized thus the number of commas seperating the street, city, state, and zipc code varied. Thus, 100 was used as an arbitratury large number. The substring is retrieving the substring after the last commma and comparing the last 2 digits with "94". All San Francisco zip codes start with 94.

In [142]:
%%sql
DELETE FROM location_dim;
INSERT INTO location_dim(caseid, street, zipcode, supervisor_district, neighborhood, point)
SELECT caseid, SUBSTRING_INDEX(address,',',1),
    CASE WHEN TRIM(SUBSTRING(SUBSTRING_INDEX(SUBSTRING_INDEX(address,',',100),',',-1),1,3)) = "94" THEN 
        SUBSTRING_INDEX(SUBSTRING_INDEX(address,',',100),',',-1)
    ELSE NULL
    END,
    supervisor_district, neighborhood, point
FROM cases

0 rows affected.
1410334 rows affected.

[]

In [144]:
%sql SELECT * FROM location_dim LIMIT 20

20 rows affected.

[(1L, 5327068L, 'Intersection of 15TH ST and JULIAN AVE', None, '9', 'Mission', '(37.7665993360598, -122.421056485527)'),
 (2L, 5327058L, 'Intersection of DOLORES ST and MARKET ST', None, '8', 'Mission Dolores', '(37.7690422430629, -122.426858401469)'),
 (3L, 5327055L, '517 BROADWAY', ' 94133', '3', 'North Beach', '(37.797746073714, -122.405864462097)'),
 (4L, 5327053L, '517 BROADWAY', ' 94133', '3', 'North Beach', '(37.797746073714, -122.405864462097)'),
 (5L, 5325950L, '122 DAKOTA ST', ' 94107', '10', 'Potrero Hill', '(37.753580414134, -122.396685179144)'),
 (6L, 5325948L, '2075 FOLSOM ST', ' 94110', '9', 'Mission', '(37.764097916779, -122.415011903149)'),
 (7L, 5325947L, 'Intersection of ATHENS ST and AVALON AVE', None, '11', 'Excelsior', '(37.7247601827023, -122.426092866101)'),
 (8L, 5325943L, 'Intersection of CARGO WAY and JENNINGS ST', None, '10', 'India Basin', '(37.7401919512228, -122.376847268678)'),
 (9L, 5325942L, 'Intersection of MOJAVE ST and BRADFORD ST', None, '9', 'Bernal Heights', '(37.7388868577067, -122.409571516367)'),
 (10L, 5325941L, 'Intersection of DUNSHEE ST and PALOU AVE', None, '10', 'Silver Terrace', '(37.7366863734836, -122.395685667711)'),
 (11L, 5325938L, '1037 SOUTH VAN NESS AVE', ' 94110', '9', 'Mission', '(37.756547288068, -122.416479139315)'),
 (12L, 5325935L, '617 UNION ST', ' 94133', '3', 'North Beach', '(37.800216167083, -122.409458064394)'),
 (13L, 5325934L, '531 BUCHANAN ST', ' 94102', '5', 'Hayes Valley', '(37.774894172817, -122.427778514278)'),
 (14L, 5325933L, '972 BUSH ST', ' 94102', '3', 'Lower Nob Hill', '(37.789702920175, -122.4132399516)'),
 (15L, 5325931L, 'Saturn Street Steps', ' 94114', '8', 'Corona Heights', '(37.762685016, -122.4405564)'),
 (16L, 5325930L, 'Intersection of HAIGHT ST and MASONIC AVE', None, '5', 'Haight Ashbury', '(37.7702101326969, -122.445345107431)'),
 (17L, 5325929L, '495 MONTEREY BLVD', ' 94112', '7', '', '(37.731347969, -122.446430701)'),
 (18L, 5325927L, '1285 FOLSOM ST', ' 94103', '6', 'South of Market', '(37.77386706457, -122.41123002197)'),
 (19L, 5325921L, '757 LEAVENWORTH ST', ' 94109', '3', 'Lower Nob Hill', '(37.788175597255, -122.415277693026)'),
 (20L, 5325918L, 'Ferry Park', ' 94111', '3', 'Financial District', '(37.795926081, -122.3965102)')]

# Querying the San Francisco 311 cases star Schema

**Query shows the overall cycle time since 2008 until now**

In [151]:
%%sql SELECT AVG(cycle_time)/86400 AS Avg_Cycle_Time_Days
FROM cycle_time_facts

1 rows affected.

[(Decimal('31.81689044'),)]

In [146]:
%sql DESC cycle_time_facts

4 rows affected.

[('id_cycle', 'int(11)', 'NO', 'PRI', None, 'auto_increment'),
 ('caseid', 'int(11)', 'YES', '', None, ''),
 ('cycle_time', 'int(11)', 'YES', '', None, ''),
 ('media_flag', 'char(3)', 'YES', '', None, '')]